/* Base Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.ss{
  width: auto;
  height: auto;
  margin: auto;

}

.container {
    max-width: 400px;
    background: #F8F9FD;
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid #fff;
    box-shadow: #aa9ff0(133, 189, 215, 0.88) 0px 30px 30px -20px;
    margin: 20px auto;
    text-align: center;
}

.heading {
    font-weight: 900;
    font-size: 30px;
    color: #6a5acd;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.input, select {
    width: 100%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
}

.input::placeholder {
    color: rgb(170, 170, 170);
}

.input:focus, select:focus {
    outline: none;
    border-inline: 2px solid #6a5acd;
}

.login-button {
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, #5b4bbe 0%, #6a5acd 100%);
    color: white;
    padding: 15px;
    border-radius: 20px;
    border: none;
    box-shadow: #9387de 0px 20px 10px -15px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.login-button:hover {
    transform: scale(1.03);
}

.login-button:active {
    transform: scale(0.95);
}

.error {
    color: red;
    font-size: 12px;
    text-align: left;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        padding: 20px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 95%;
        padding: 15px;
    }
    .heading {
        font-size: 24px;
    }
    .input, select {
        padding: 12px;
    }
    .login-button {
        padding: 12px;
    }
}